<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ venue.name }} - {{ gig_date }}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <h1>{{ venue.name }}</h1>
    <p><strong>{{ gig_date }}</strong></p>
         
    <p>100% of your tip goes directly to the artist.</p>

    {% if gigs %}
        <ul>
            {% for gig in gigs %}
            <li>
                <h2>{{ gig.artist.name }}</h2>
                <a href="{% url 'tip_page' gig.id %}" class="btn btn-primary">Tip This Artist</a>                
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No gigs found for this date and venue.</p>
    {% endif %}
</body>

</html>