{% extends 'base.html' %}
{% load static %}

{% block title %}{{ artist.name }} | Pay Tip{% endblock %}

{% block content %}


{% endblock %}

            else if (paymentIntent.status === "succeeded") {

                console.log("SUCCESS BLOCK HIT");

                payButton.textContent = "Tip Completed";

                document.getElementById("payment-ui").classList.add("d-none");

                const backLink = document.getElementById("back-link");
                backLink.classList.add("mt-3");
                document.getElementById("tip-confirmation").after(backLink);
                
                // Hide card container
                document.getElementById("card-container").classList.add("d-none");

                // Show thank you messages
                confirmationText.innerHTML = `You are an absolute legend!<br>
                <span class="fs-6 fst-italic">Thank you for supporting live music!</span>
                <span class="fs-1 fw-bold mt-0" style="color: red;">${artistName}</span>`;
                   
                confirmationText.classList.remove("d-none");
                
                // Reset selection state
                selectedAmount = null;

                // Reset pay button
                payButton.disabled = true;
                payButton.textContent = "Select an Amount to Tip";
                delete payButton.dataset.clientSecret;

                // Disable amount buttons
                amountButtons.forEach(btn => {
                    btn.disabled = true;
                    btn.classList.remove("active")
                    btn.classList.add("opacity-50"); // optional visual grey-out
                });