{% extends 'base.html' %}
{% load static %}

{% block title %}Tip: {{ artist.name }}{% endblock %}

{% block extra_head %}
    <script>window.STRIPE_PUBLIC_KEY = "{{ STRIPE_PUBLIC_KEY }}";</script>
{% endblock %}

{% block content %}

<div class="container-fluid w-100">
    <div class="row">
        <div class="col-12 title text-center">

            <!-- Header -->
            <h1>{{ venue.name }}</h1>
            <p>{{ gig_date|date:"d M Y" }}</p>
            <p class="fs-6">Artist gets 100% of your tip!</p>
        </div>

        <!-- Back Link -->
        <div class="text-left">
            <div id="back-link" class="back-btn">
                <a href="{% url 'gigs:date_page' venue.slug gig_date.year gig_date.month gig_date.day %}" class="back-link">← Back to Artist List for Today</a>
            </div>
            <div id="back-cta" class="d-none">
                <a href="{% url 'gigs:date_page' venue.slug gig_date.year gig_date.month gig_date.day %}" class="btn cta-btn">← Back to Artist List</a>
            </div>
        </div>
        <hr>

        <!-- Artist Logo -->
        <div class="artist-tip-row">
            <div class="text-center tip-text">Tip</div>
            <div class="artist-logo-tip-box">
                {% include "gigs/artist_logo.html" with artist=gig.artist %}
            </div>
        </div>
        <!-- <h3 class="text-center">Tip {{ artist.name }}</h3> -->

        <!-- Amount buttons -->
        <div class="text-center">
            {% for amount in amounts %}
                <button type="button" class="btn tip-btn mb-0" data-amount="{{ amount }}">£{{ amount }}</button>
            {% endfor %}
        </div>

        <!-- Tip Section -->
        <div id="tip-section" data-gig-id="{{ gig.id }}"
            data-start-url="{% url 'gigs:start_payment' %}"
            data-csrf="{{ csrf_token }}"> 
            <div class="col-12">
                <div class="tip-section text-center">

                    <!-- Confirmation text -->
                    <p id="tip-confirmation" class="text-center d-none"></p>

                    <!-- Clear option
                    <button id="clear-tip" class="btn btn-link d-none">
                        Change amount
                    </button> -->

                    <div id="payment-ui">
                        <!-- Google Pay & Apple Pay Wallets -->
                        <div id="wallet-button-container" class="mt-3 mb-2 align-self-center d-none"></div>

                        <!-- Absolute Legend Text -->
                        <p id="pay-confirmation" class="text-center mt-2"></p>

                        <!-- Stripe Card Element -->
                        <div id="card-container" class="mt-2 mb-3 d-none align-self-center">
                            <p>Please enter your card details</p>
                            <p class="small text-danger-muted mt-0 mb-1">Card details aren't stored.<br>Your phone may save them for you.</p>

                            <div class="mb-3">
                                <div id="card-number"></div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div id="card-expiry"></div>
                                </div>
                                <div class="col-6">
                                    <div id="card-cvc"></div>
                                </div>
                            </div>
                            <div id="card-errors" class="text-danger mt-2"></div>
                        </div>

                        <!-- Pay Button -->
                        <button id="pay-btn" class="btn cta-btn mt-1 mb-2" disabled>
                            Select an Amount to Tip
                        </button>

                        <!-- Fee Message -->
                        <p id="fee-message" class="text-center mt-3"></p>

                        <!-- About Your Tip Modal Link -->
                        <p class="modal-message mt-2">
                            Secure payment • <a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">About Your Tip</a>
                        </p>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


