/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* Global Styles */
body {
    background-color: #000000;
    color: #f5f5f5;
    font-size: 12px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    color: #f5f5f5;
}
p {
    font-family: 'Geist Mono', monospace;
    color: #f5f5f5;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
a {
    display: inline-block;
}
hr {
    border: 0;
    border-top: 1px solid #f5f5f5;
    margin: 1rem 0;
    width: 100%;
}
.title {
    margin-bottom: 1rem;
    margin-top: 6rem;
}
.link {
    text-decoration: none;
    color: #f5f5f5;
}
.link:hover {
    color: red;
    text-decoration: none;
}

/* Base Template Styles */
.header-container {
    background-color: #000000;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}

/* Modal */
.modal-backdrop.show {
    opacity: 0.75;
}
.modal-header {
    padding-bottom: 0.25rem;
    justify-content: center;
    position: relative;
}
.modal-body {
    padding-top: 0.25rem;
}
.modal-title {
    margin-bottom: 0;
}
sup {
    font-size: 0.5rem;
    top: -0.4rem;
}

/* Buttons */
.btn-close {
    position: absolute;
}
.cta-btn {
    text-decoration: none;
    color: #f5f5f5;
    border-radius: 5px;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-bottom: 0;
}
.cta-btn:hover {
    background-color: red;
}
.tip-btn {
    text-decoration: none;
    color: #f5f5f5;
    border-radius: 5px;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    padding: 2px 10px;
    font-size: 1.2rem;
    margin: 0 1rem 1rem 0;
    vertical-align: middle;
}
.tip-btn:hover {
    background-color: red;
}
.back-btn {
    margin-bottom: 1rem;
}

/* Date Page Template */
.artist-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}
.artist-logo-box {
    width: 160px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.artist-logo-box img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

/* Tip Page Template */
#tip-confirmation {
    margin-bottom: 0;
    font-size: 1.2rem;
    white-space: pre-line;
}
#pay-confirmation {
    white-space: pre-line;
}
.whats-this-link {
    color: #f5f5f5;    
}
.artist-tip-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 1rem 0;
}
.artist-logo-tip-box {
    width: 296px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.artist-logo-tip-box img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
#fee-message {
    color: red;
}

/* Stripe API Styling */
#card-container {
    background: #f5f5f5;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    max-width: 425px;
}
#card-container p {
    color: red;
}
#card-errors {
    color: red;
    font-size: 0.9rem;
}

/* Phase 1 Report */
.report-container {
    margin-top: 80px;
}

/* Media Queries */
@media (max-width: 330px) {
    .artist-row {
        padding-right: auto;
    }
    .cta-btn {
        font-size: 0.7rem;
    }
}