/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* Global Styles */
body {
    background-color: #000000;
    color: #f5f5f5;
    font-size: 11px;
}
h1 {
    font-family: 'Roboto Mono', monospace;
    color: #f5f5f5;
}
p {
    font-family: 'Geist Mono', monospace;
    color: #f5f5f5;
}
ul {
    list-style-type: none;
}
.btn {
    text-decoration: none;
    color: #f5f5f5;
    border-radius: 5px;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}
.btn:hover {
    background-color: red;
}